doctype html
html
    head
        title= title
        link(rel='stylesheet' href='/stylesheets/style.css')
    body
        block content
    footer 
        center 
            p Powered by nginx & node.js
            img#nginximage(src="/images/nginx.png", alt="nginx-logo")
            br
            img#nodeimage(src="/images/nodejs.png", alt="nodejs-logo")